/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Manrope, sans-serif;
  }

.code-block {
  border-radius: 8px;
  overflow: hidden;
}

pre {
  overflow-x: auto;
  padding: 24px;
  padding-top: 30px;
  border-radius: 8px;
}

:not(pre) > code {
  background-color: var(--mat-sys-surface-dim);
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.90em;
}

/* editor style has to be global */
quill-editor.ng-invalid {
  border: 1px solid var(--mat-sys-error) !important;
}

.bg-surface {
  background-color: var(--mat-sys-surface);
}

.bg-surface-dim {
  color: var(--mat-sys-on-surface-variant);
  background-color: var(--mat-sys-surface-container);
}

.bg-surface-dimmer {
  color: var(--mat-sys-on-surface-variant);
  background-color: var(--mat-sys-surface-container-high);
}

.text-error {
  color: var(--mat-sys-error);
}

.bg-secondary-container {
  background-color: var(--mat-sys-secondary-container);
}

.error-btn {
  color: var(--mat-sys-error) !important;
  border-color: var(--mat-sys-error) !important;
}

/* ====== PRINT ======== */

@media print {
  /* Page setup */
  @page {
    size: A4 portrait;
    margin: 12mm;
  }

  /* Hide everything */
  body * {
    visibility: hidden !important;
  }

  /* Show ONLY preview */
  preview-resume,
  preview-resume * {
    visibility: visible !important;
  }

  /* Detach preview from flex layout */
  preview-resume {
    position: absolute;
    inset: 0;
    display: block !important;
    width: 210mm;
    min-height: 297mm;
    overflow: visible !important;
  }
}


@media print {
  .hidden {
    display: block !important;
  }
}

@media print {
  .preview {
    aspect-ratio: auto !important;
    width: 100%;
    min-height: 100%;
    border: none;
  }
}

@media print {
  /* Kill sidenav completely */
  mat-sidenav,
  mat-drawer,
  .mat-sidenav,
  .mat-drawer {
    display: none !important;
  }

  /* Kill sidenav container layout */
  mat-sidenav-container,
  mat-drawer-container {
    display: block !important;
  }

  /* Reset any layout shifts */
  mat-sidenav-content,
  .mat-sidenav-content {
    margin: 0 !important;
    padding: 0 !important;
    transform: none !important;
  }
}

@media print {
  .flex {
    display: block !important;
  }

  .min-h-0 {
    min-height: auto !important;
  }
}



@media screen {
  .preview {
    aspect-ratio: 1 / 1.4142;
  }
}




