/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Manrope, sans-serif;
  }

.code-block {
  border-radius: 8px;
  overflow: hidden;
}

pre {
  overflow-x: auto;
  padding: 24px;
  padding-top: 30px;
  border-radius: 8px;
}

:not(pre) > code {
  background-color: var(--mat-sys-surface-dim);
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.90em;
}



/* editor style has to be global */
quill-editor.ng-invalid {
  border: 1px solid var(--mat-sys-error) !important;
}

.bg-surface {
  background-color: var(--mat-sys-surface);
}

.bg-surface-dim {
  color: var(--mat-sys-on-surface-variant);
  background-color: var(--mat-sys-surface-container);
}

.bg-surface-dimmer {
  color: var(--mat-sys-on-surface-variant);
  background-color: var(--mat-sys-surface-container-high);
}

.text-error {
  color: var(--mat-sys-error);
}

.bg-secondary-container {
  background-color: var(--mat-sys-secondary-container);
}



