.message-container {
  background-color: var(--mat-sys-surface-container);
}

.chat-loader {
  background-color: var(--mat-sys-primary);
}

.scroll-down-btn {
  background-color: var(--mat-sys-secondary-fixed);
  color: var(--mat-sys-on-secondary-fixed);
}


