<!-- Messages -->
<div class="message-container flex flex-col flex-[1_1_0] overflow-y-auto p-3">
  <ul class="w-full max-w-3xl mx-auto flex flex-col space-y-5">
    @for (message of this.chat.selectedChatMessages(); track message.id) {
    <chat-bubble [role]="message.role" [message]="message.content" />
    } @if (this.chat.response()) {
    <chat-bubble role="assistant" [message]="this.chat.response()!" />
    } @if (this.chat.loading()) {
    <chat-loader />
    }
  </ul>
</div>
<!-- Bottom Bar -->
<div class="pt-6 px-4 border-t border-slate-300">
  <div class="max-w-3xl w-full mx-auto">
    <chatbox [onSubmitCallback]="send.bind(this)" />
  </div>
</div>
