<!-- Messages -->
<div
  #messageContainer
  (scroll)="onScroll()"
  class="message-container relative flex flex-col flex-[1_1_0] overflow-y-auto max-h-full p-3 pb-32"
>
  <ul class="w-full max-w-3xl mx-auto flex flex-col space-y-5">
    @for (message of messages$ | async; track message.id) {
    <message [role]="message.role" [message]="message.content" />
    } @if (thinking$ | async) {
    <chat-loader />
    }
  </ul>
  @if (showFab()) {
  <button
    matMiniFab
    (click)="scrollToBottom()"
    class="scroll-down-btn !sticky z-20 -bottom-28 left-1/2 !shadow-lg !rounded-full !border !border-slate-300"
  >
    <mat-icon>arrow_downward</mat-icon>
  </button>
  }
</div>

<!-- Bottom Bar -->
<div class="relative pt-6 px-4 border-t border-slate-300">
  <div class="max-w-3xl w-full mx-auto">
    <chatbox [onSubmitCallback]="send.bind(this)" [isGenerating]="(generating$ | async) ?? false" />
  </div>
</div>
