

:host.ng-invalid label {
  border-color: var(--mat-sys-error);
  background-color: var(--mat-sys-error-container);
}

:host.ng-invalid .file-label {
  color: var(--mat-sys-error);
}

:host.ng-invalid .file-preview-container {
  border-color: var(--mat-sys-error);
}
