<form [formGroup]="form()" class="relative gap-2 w-full">
  <div class="flex flex-col md:flex-row items-center gap-2">
    <mat-form-field class="flex-1 !w-full">
      <mat-label>Subtext</mat-label>
      <input matInput placeholder="Enter subtext..." formControlName="subtext" />
    </mat-form-field>
    <mat-form-field class="flex-1 !w-full">
      <mat-label>Right Subtext</mat-label>
      <input matInput placeholder="Enter right subtext..." formControlName="right_subtext" />
    </mat-form-field>
  </div>

  <div class="flex justify-between items-center mb-3">
    <mat-slide-toggle [checked]="showContent()" (change)="showContent.set($event.checked)"
      >Show content</mat-slide-toggle
    >
    @if (!!!this.date?.value) {
    <button matButton="tonal" (click)="addDate()"><mat-icon>add</mat-icon> Add Date</button>
    }
  </div>

  <field-form [hidden]="!showContent()" label="Content" [control]="$any(content)">
    <editor [control]="$any(content)" />
  </field-form>

  @if (!!this.date?.value) {
  <date-form [form]="$any(date)" (delete)="onDeleteDate($event)" />
  }
</form>
